- clickable = position.summary.present?
.m-experience{ class: (clickable) ? "#{type} clickable" : type }
  .display
    %p.name
      = fa_icon "laptop"
      = " #{position.name}"
    %p.time= position.pretty_date

  - if position.summary.present?
    %ul.summary
      - position.summary.split("\n").each do |point|
        %li= point

