-content_for(:title) do
  =@applicant.name

%section.m-applicant-header
  = image_tag(@applicant.image, alt: "applicant profile picture", size: "100X100")

  .details
    %h1= "#{@applicant.name}"
    - if @education.present?
      %h2= "#{@education.school} (#{@education.started_at} - #{@education.ended_at})"

%section.m-timeline
  - @timeline.each do |list|
    .experience
      %p= list[1]
    - list[0].each do |item|
      -if item[1] == "position"
        =render partial: "position", locals: { position: item[0], type: item[1] }
      -else
        =render partial: "education", locals: { education: item[0], type: item[1] }

