%section.m-applicant-header
  = image_tag(@applicant.image, alt: "applicant profile picture", size: "100X100")

  .details
    %h1= "#{@applicant.name}"
    - if @educations.present?
      %h2= "#{@education.first.school} (#{@education.first.started_at} - #{@education.first.ended_at})"

%section.m-timeline
  - @timeline.each do |item|
    -if item[1] == "position"
      =render partial: "position", locals: { position: item[0], type: item[1] }
    -else
      =render partial: "education", locals: { education: item[0], type: item[1] }

