-content_for(:title) do
  =@applicant.name

%section
  .m-applicant-header
    .container
      .photo-box
        = image_tag(@applicant.image, alt: "applicant profile picture", size: "100X100")
        %h1= "#{@applicant.name}"

      .details
        - if @education.present?
          %h2= "#{@education.school} (#{@education.started_at} - #{@education.ended_at})"
        .summary
          -if @educations.present?
            %p.icon
              = fa_icon "laptop"
              = "x #{@positions.count}"
          -if @educations.present?
            %p.icon
              = fa_icon "bell"
              = "x #{@educations.count}"
          -if @repos.present?
            %p.icon
              = fa_icon "github"
              = "x #{@repos.count}"

      .add-box
        .item-list
          .item
            = fa_icon "linkedin-square 2x"
            =link_to "LinkedIn", "#"
          .item
            = fa_icon "github 2x"
            =link_to "GitHub", "#"
          .item
            = fa_icon "bars 2x"
            =link_to "Resume", "#"

  .m-timeline
    - if ( @repos.present? )
      .col-3
        %h2= "Active Repos"
        %dl
          - @repos.first(5).each do |repo|
            %li.repo
              %a.name{ href: repo.url }
                = fa_icon "github"
                = "#{repo.name}"
      .col-9
        - @timeline.each do |list|
          %p.year= list[1]
          - list[0].each do |item|
            -if item[1] == "position"
              = render partial: "position", locals: { position: item[0], type: item[1] }
            -elsif item[1] == "education"
              = render partial: "education", locals: { education: item[0], type: item[1] }
            -elsif item[1] == "repo"
              = render partial: "repo", locals: { repo: item[0], type: item[1] }
    - else
      - @timeline.each do |list|
        %p.year= list[1]
        - list[0].each do |item|
          -if item[1] == "position"
            = render partial: "position", locals: { position: item[0], type: item[1] }
          -elsif item[1] == "education"
            = render partial: "education", locals: { education: item[0], type: item[1] }
          -elsif item[1] == "repo"
            = render partial: "repo", locals: { repo: item[0], type: item[1] }
