.m-nav
  = image_tag "vetrify_logo_color.png"
  = link_to "Inquire", "#"
  = link_to "Students", root_path

.m-social
  = render "shared/facebook_share"
  .fb-share-button{ "data-href"=> "http://vetrify.com", "data-type"=>"button" }
  = render partial: "shared/twitter_share", locals: { url: nil }

.l-content
  %section.l-content-flow.m-business-landing
    .centering-object
      .container
        %h2= "One Platform."

        %p
          Vetrify brings all Vancouver's software graduates onto a single platform so that you can reach them more effectively. Through connections with all of the Univeristies, Technical Coleges, and Student Societies in the lower mainland we are able to reach almost XXX graduating students per semester.

        %p
          This concentration of candidates gives your job the most exposure and helps find that perfect fit faster.


  %section.l-content-flow.m-about
    .centering-object
      .container
        %h2= "Passive Matching."

        %p
          Immediately after posting Vetrify shows you the candidates that best match your job. This means you can reach out to them faster and get them on the ground faster. These matches are based on data from both a candidate's LinkedIn profile as well as the software they've showcased on GitHub.

  %section.l-content-flow.m-team
    .centering-object
      .container
        %h2= "Video Interviews."

        %p


