.m-nav
  = image_tag "vetrify_logo_color.png"
  = mail_to "info@vetrify.com", "Inquire"
  = link_to "Students", root_path

.m-social
  = render "shared/facebook_share"
  .fb-share-button{ "data-href"=> "http://vetrify.com", "data-type"=>"button" }
  = render partial: "shared/twitter_share", locals: { url: nil }

.l-content
  %section.l-content-flow.m-business-landing
    .centering-object
      .container
        %h2= "One Platform."

        %p
          Vetrify brings Vancouver's software graduates together onto a single platform so that you can reach them quickly and effectively. By working with the main Universities, Technical Colleges, Student Societies and Coding Bootcamps in the Lower Mainland, our pool of graduating students continues to grow at an increasing rate.

        %p
          This concentration of candidates gives your job the most widespread exposure. Get access to Vancouver’s homegrown software talent without ever stepping foot on a campus.


  %section.l-content-flow.m-about
    .centering-object
      .container
        %h2= "Passive Matching."

        %p
          We shortlist the applicants that best match your job, so you only see the most qualified applicants. We also show you those qualified candidates who didn’t apply, so that you can reach out to this capable talent and engage them.

        %p
          This matching uses data from a candidate’s résumé, LinkedIn profile, and the software that they’ve showcased on GitHub. Stop wasting time screening applicants and let Vetrify automate this for you.

  %section.l-content-flow.m-video-interview
    .centering-object
      .container
        %h2= "Video Interviews."

        %p
          Every applicant records a short video of themself answering pre-formulated questions that you create. By making customized questions for each job, you can test for the personal qualities that are really important to you. We deliver these videos to you for review at the end of the application period.

        %p
          These video interviews allow you to screen applicants for cultural fit before they ever walk through your door. Don’t struggle to schedule and conduct initial interviews when you can pre-screen ten applicants in an hour.



