.l-content
  .m-nav
    = image_tag "vetrify_logo_color.png"
    = link_to "Join Us", new_profile_path
    = link_to "About", "#", class: "about"


  %section.l-content-flow.m-landing
    .centering-object
      .container
        %h1= "Find A New Frontier In Recruitment"
        = link_to "Sign Up for the Beta", new_profile_path, class: "sign-up"

  %section.l-content-flow.m-about
    .centering-object
      .container
        .heading
          We Save You Time.

        .row
          For computer science and software engineering students, Vetrify is an online platform that provides a streamlined and personalized way to connect with local tech startups.

        .row
          At Vetrify, our goal is to redesign the application process. We enable our users to accurately convey their skills and personality while reducing the time spent building their applications.

        .row
          =link_to 'Sign up', new_profile_path
          =" for our beta to experience a better application process coming April 2014"


  %section.l-content-flow.m-team
    .centering-object
      .container
        .heading
          Who We Are.

        .row
          Vetrify consists of a team of entrepreneurs, software engineers and business professionals on a mission to redesign the hiring process. As undergraduates of UBC, we have first hand experience with the problems that students face during the hiring process. We are tired of the inefficiencies of the traditional system and have set out to improve the process for our fellow students.

        .row
          When we aren’t working our butts off, you can find us at our favourite watering hole, Koerner’s Pub, enjoying a growler with nachos.
