- content_for(:nav) do
  = image_tag "vetrify_logo_color.png", alt: "Vetrify Logo"
  = link_to "Login", new_sessions_path
  = link_to "Businesses", business_path
  = link_to "About", "#", class: "about"

= render "shared/social_links"

%section.m-landing.m-sign-up
  .container
    .row
      .col-md-2
      .col-md-8
        %h1= "Simplify Your Job Search"
        = link_to "Sign Up for the Beta", new_sessions_path, class: "sign-up"
      .col-md-2

%section.m-landing.m-about
  .container
    .row
      .col-md-2
      .col-md-8
        %h2= "We Find You Jobs."

        %p
          For computer science and software engineering students Vetrify is an online platform providing a streamlined and personalized way to connect with local tech startups.

        %p
          At Vetrify our goal is to redesign the job application process. We enable our users to accurately convey their skills and personality while reducing the time spent applying for jobs.

        %p
          =link_to 'Sign up', new_sessions_path
          =" for our beta and get noticed by the companies you care about."
      .col-md-2

%section.m-landing.m-team
  .container
    .row
      .col-md-2
      .col-md-8
        %h2= "Who We Are."

        %p
          Vetrify consists of a team of entrepreneurs, software engineers and business professionals on a mission to redesign the hiring process. As undergraduates at UBC, we have first hand experience with the problems that students face during their job search. We are tired of the inefficiencies in the traditional system and have set out to improve the process for our fellow students.

        %p
          When we aren’t working our butts off, you can find us at our favourite watering hole, Koerner’s Pub, enjoying a growler with nachos.
      .col-md-2
