- content_for(:nav) do
  = image_tag "vetrify_logo_color.png", alt: "Vetrify Logo"
  = link_to "Login", new_sessions_path
  = link_to "Students", root_path
  = link_to "Businesses", business_path

= render "shared/social_links"

%section.m-landing.m-terms
  .container
    .row
      .col-md-2
      .col-md-8
        %h2= "Terms Of Use"

        %p
          These terms of use (“Terms of Use” or this “Agreement”) between you and Vetrify (“Vetrify”) contain the terms and conditions governing your use of the service (“The Service”). The service is owned and operated by Vetrify. By using the service, you are consenting to be bound by the terms and conditions set forth below. Accordingly, you agree as follows:

        %p
          .underline License Grant.
          Subject to the terms and conditions of this Agreement, Vetrify hereby grants to you a non-exclusive, non-transferable, revocable license to access its services (collectively, “Third Party Contracts”). This license is restricted to use by you and does not include the right to use the Service on behalf of any third party or the right to permit any other person to access or use the Service. You are responsible for maintaining and safeguarding the security of your account and password and you shall not share your password with any other person or allow any other person to access the Service under your account. Vetrify reserves the right to immediately suspend your access to the Service if you fail to comply with this Agreement.

        %p
          .underline Restrictions. 
          Unauthorized use, resale or commercial exploitation of the Service in any way is expressly prohibited. Without Vetrify’s express prior written consent in each instance, you shall not: reverse engineer, decompile, disassemble, or otherwise attempt to derive the source code form or structure of the Service, access the Service in order to build a competitive product or service or copy any ideas, features, functions or graphics of the Service. You shall not attempt to access any other of Vetrify's systems, programs or data that are not made available for public use.


        %p
          .underline Ownership. 
          You acknowledge and agree that as between Vetrify and you, all right, title and interest in and to Service (including all software, hardware, products, processes, algorithms, user interfaces, know-how, techniques, designs and other tangible or intangible technical material or information) made available to you by Vetrify in providing the Service and all derivatives thereof (including any and all intellectual property rights therein) are and shall remain Vetrify’s or its licensors’, and this Agreement in no way conveys any right or interest in the foregoing other than a limited license to use them in accordance herewith. The Vetrify name, the Vetrify logo, and the product names associated with the Service, including, but not limited to “trademark name”, are trademarks of Vetrify or third parties, and no right or license is granted to use them. You shall not remove any Vetrify trademark or logo from the Service. 


        %p
          .underline Data and Content. 
          During the term of this Agreement, you hereby grant to Vetrify a limited, non-exclusive, non-transferable, royalty-free right to store and use your digital identity solely in connection with providing the Service. Except as provided in this Agreement, you shall be solely responsible for providing, updating, uploading and maintaining all of your data and information required to use the Service. You shall not use the Service to upload or otherwise transmit any data that is unlawful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, invasive of another's privacy, hateful, or racially, ethnically or otherwise objectionable. Vetrify does not guarantee the accuracy, integrity or quality of your data or any other data made available to you via the Service. 

        %p
          .underline Warranty Disclaimer. 
          The service is being provided to you “as is”. You acknowledge and agree that all warranties, whether express, implied or statutory, and all obligations and representations as to performance, including all warranties which might arise from course of dealing or custom or trade and including all implied warranties of merchantability, fitness for a particular purpose and non-infringement, are hereby expressly excluded and disclaimed by Vetrify. Vetrify does not make any warranty that the service will be available to you or that any other data made available to you in connection with your use of the service will be accurate or uninterrupted.
 

        %p
          .underline Limitation of Liability. 
          To the maximum extent permitted by applicable law, under no circumstances and under no legal theory, tort, contract, or otherwise, shall Vetrify or its suppliers, officers, directors, employees, distributors or agents be liable to you or any other person, for any direct, indirect, special, incidental, cover, reliance or consequential damages in connection with your use of the service, even if such party has been advised of the possibility of such damages, or for any claim by any other party, regardless of the form of the action (whether in contract, tort (including negligence), product liability or otherwise). The maximum aggregate liability of Vetrify to you arising in connection with this agreement shall be limited to $50. Some jurisdictions do not allow the exclusion or limitation of incidental or consequential damages, so this limitation and exclusion may not apply to you.


        %p
          .underline Miscellaneous. 
          This Agreement contains the complete understanding and agreement of the parties and supersedes all prior or contemporaneous agreements or understandings, oral or written, relating to the subject matter herein. Any obligation reasonably expected to survive termination or expiration of this Agreement shall survive. This Agreement shall be interpreted according to the laws of British Columbia, Canada without regard to or application of choice-of-law rules or principles. Any legal action or proceeding with respect to this Agreement will be brought exclusively in courts located in British Columbia, Canada and you accept, generally and unconditionally, the exclusive jurisdiction of the aforesaid courts. No failure of either party to exercise or enforce any of its rights under this Agreement shall act as a waiver of subsequent breaches and the waiver of any breach shall not act as a waiver of subsequent breaches. In the event any provision of this Agreement is held by a court or other tribunal of competent jurisdiction to be unenforceable, that provision will be enforced to the maximum extent permissible under applicable law, and the other provisions of this Agreement will remain in full force and effect. This Agreement shall not be construed as creating or constituting a partnership, joint venture, or agency relationship between the parties. Neither party will have the power to bind the other or incur obligations on the other’s behalf without the other’s prior written consent.

      .col-md-2

