<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>Company</th>
      <th>Position</th>
      <th>Summary</th>
      <th>Desired skills</th>
      <th>Expected skills</th>
      <th>Start at</th>
      <th>Expire at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.company %></td>
        <td><%= post.position %></td>
        <td><%= post.summary %></td>
        <td><%= post.desired_skills %></td>
        <td><%= post.expected_skills %></td>
        <td><%= post.start_at %></td>
        <td><%= post.expire_at %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
